<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506415311953-nfsq09ollhf9thui2leb42bldm62fkkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506415311953-nfsq09ollhf9thui2leb42bldm62fkkr</string>
	<key>API_KEY</key>
	<string>AIzaSyDVDi1mXlLDg_WqP49MxyyR6yC9h3-ot2I</string>
	<key>GCM_SENDER_ID</key>
	<string>506415311953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salihkocat-rk.JitGame</string>
	<key>PROJECT_ID</key>
	<string>jitg-9b26e</string>
	<key>STORAGE_BUCKET</key>
	<string>jitg-9b26e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506415311953:ios:b1a913d3b0fd0a6aef9c70</string>
</dict>
</plist>